$imageHeight: 200px;

body {
    margin: 0;
    font-family: Arial;
}

.people {
  padding: 30px;
  display: grid;
  grid-template:repeat(4,200px)/repeat(4, 200px);
  height: 100vh;
  justify-content: center;
  grid-gap: 30px;
  text-align: center;
  margin-bottom: 40px;
  font-family: Arial;
  cursor: pointer;
  
  img {
    border-radius: 50%;
    width: $imageHeight;
    height: $imageHeight;
  }
  
  .person {
      display: block;
      position: relative;
  }
  
  span.rank {
   color: #8B0000;
   display: block;
   width: 32px;
   height: 32px;
   background-color: white;
   border-radius: 50%;
   position: absolute;
   right: 21px;
   bottom: 91px;
   text-align:  center;
  }

  .details > a {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: block;
    z-index: 1;
  }
  
  .person:hover {
    width: 264px;
    height: 345px;
    transition: 1s;
    background-color: #eee;
    border-radius: 12px;
    font-size: 24px;
    line-height: 28px;
    transition: all 1s linear;
    z-index: 1;
  }
}
