$imageHeight: 200px;

* {
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial;
}

.people {
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-auto-rows: 235px; 
  justify-content: center;
  grid-gap: 30px;
  text-align: center;
  margin-bottom: 40px;
  font-family: Arial;
  cursor: pointer;
  color: #2F4F4F;
 
  img {
    border-radius: 50%;
    width: $imageHeight;
    height: $imageHeight;
    transition:1s linear;
    &:hover {
        border-radius: 60px;
        padding: 10px;
    }
  }
  
  .person {
      display: block;
      position: relative;
      
      &:hover {
        transform: scale(1.1);
        background-color: #eee;
        border-radius: 12px;
        z-index: 1;
        transition: all 1s linear;
        min-height: 280px;
          .extra {
          display: block;
          margin-bottom: 16px;
          font-size: 18px;
        }
      }
    }
    

  span.rank {
   color: #8B0000;
   display: block;
   width: 32px;
   height: 32px;
   background-color: white;
   border-radius: 50%;
   position: absolute;
   left: 150px;
   top: 84px;
   line-height: 32px;
  }

  .details {
  > .extra {
    display: none;
    margin-top: 9px;
  }
  > a {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    display: block;
    z-index: 1;
    margin-top: 8px;
   }
  }
   
}

@media (max-width: 750px) {
  .people {
    grid-template:repeat(5,auto)/repeat(2, 200px);
  }
}